# https://github.com/golangci/golangci-lint
name: Continuous Integration
on: [push]

jobs:
  golang_lint_and_test:
    name: Code style and tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
      - uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: -E gofmt
      - run: go test ./...